{{ govukSummaryList({
      rows: [
        {
          key: {
            text: "How many balls can you juggle?"
          },
          value: {
            text: data.experience.numberOfBalls         },
          actions: {
            items: [
              {
                href: "/application/edit-experience/juggling-balls",
                text: "Change",
                visuallyHiddenText: "Number of balls"
              }
            ]
          } if not data.sentDate
        },
        {
          key: {
            text: "What is you rmost impressive juggling trick?"
          },
          value: {
            text: data.experience.trick
          },
          actions: {
            items: [
              {
                href: "/application/edit-experience/juggling-trick",
                text: "Change",
                visuallyHiddenText: "Juggling trick"
              }
            ]
          } if not data.sentDate
        },
        {
          key: {
            text: "When did you start juggling?"
          },
          value: {
            html: data.experience.startDate | isoDateFromDateInput | govukDate
          },
          actions: {
            items: [
              {
                href: "/application/edit-experience/start-date",
                text: "Change",
                visuallyHiddenText: "Juggling start-date"
              }
            ]
          } if not data.sentDate
        }
      ]
}) }}
