{% extends "layouts/main.html" %}

{% set pageName = "Your application" %}

  
{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">{{ pageName }}</h1>

    {% if completedSectionsCount < 3 %}
      <h2 class="govuk-heading-s govuk-!-margin-top-6 govuk-!-margin-bottom-6">Application incomplete</h2>
      <p class="govuk-!-margin-bottom-6">You've completed {{completedSectionsCount}} of 3 sections</p>
    {% endif %}

    <h3 class="govuk-heading-m">About you</h3>

      {{ govukTaskList({
        items: [
          {
            title: {
              text: "Personal details"
            },
            href: "/application/edit-personal-details/" + personalDetailsPage,
            status: {
              tag: {
                text: personalDetailsStatus,
                classes: personalDetailsStatus | statusColour
              }
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m govuk-!-margin-top-5">Experience</h2>

      {{ govukTaskList({
        items: [
          {
            title: {
              text: "Juggling experience"
            },
            href: "/application/edit-experience/juggling-balls",
            status: {
              tag: {
                text: experienceStatus or "Not started",
                classes: experienceStatus | statusColour
              }
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m govuk-!-margin-top-5">Evidence</h2>
      {{ govukTaskList({
        items: [
          {
            title: {
              text: "Evidence"
            },
            href: "/application/edit-evidence/has-evidence",
            status: {
              tag: {
                text: evidenceStatus or "Not started",
                classes: evidenceStatus | statusColour
              }
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">Review application</h2>

      {{ govukButton({
        text: "Review and send",
        href: '/application/check'
      }) }}
    
  
 </div>
</div>

{% endblock %}
