{% extends "layouts/main.html" %}

{% set pageName = "Your application" %}

  
{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">{{ pageName }}</h1>

    <h2 class="govuk-heading-s govuk-!-margin-top-6 govuk-!-margin-bottom-6">Application incomplete</h2>
    <p class="govuk-!-margin-bottom-6">You've completed 0 of 3 sections</p>

    <h3 class="govuk-heading-m">About you</h3>

      {{ govukTaskList({
        idPrefix: "about-you",
        items: [
          {
            title: {
              text: "Personal details"
            },
            href: "/application/edit-personal-details/name",
            status: {
              tag: {
              text: "Not yet started",
              classes: "govuk-tag--blue"
              }
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m govuk-!-margin-top-5">Experience</h2>

      {{ govukTaskList({
        idPrefix: "your-experience",
        items: [
          {
            title: {
              text: "Your experience"
            },
            href: "/",
            status: {
              tag: {
              text: "Not yet started",
              classes: "govuk-tag--blue"
              }
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m govuk-!-margin-top-5">Evidence</h2>
      {{ govukTaskList({
        idPrefix: "evidence",
        items: [
          {
            title: {
              text: "Evidence"
            },
            href: "/",
            status: {
              tag: {
              text: "Not yet started",
              classes: "govuk-tag--blue"
              }
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">Review application</h2>

      {{ govukButton({
        text: "Review and send",
        href: '/application/check'
      }) }}
    
  
 </div>
</div>

{% endblock %}
