{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}
{% from "_components/address/macro.njk" import appAddress %}


{% block header %}
    {% include "includes/header.html" %}

    {{ govukPhaseBanner({
        tag: {
            text: "Beta"
        },
        html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.',
        classes: 'govuk-width-container'
    }) }}
{% endblock %}

{% block footer %}
    {% include "includes/footer.html" %}
{% endblock %}
    
{% block scripts %}
{{ super() }}
<script src="/public/javascripts/components/autocomplete.js"></script>
{% endblock %}
